@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /* Primary Colors */
  --primary: #071c31;
  --primary-hover: #0d3359;
  --primary-light: #66b2ff; /* Example: light blue */
  --primary-dark: #0056b3; /* Example: dark blue */

  /* Secondary Colors */
  --secondary: #6c757d; /* Example: gray */
  --secondary-light: #a9aeb4; /* Example: light gray */
  --secondary-dark: #494e52; /* Example: dark gray */

  /* Accent Colors */
  --accent: #28a745; /* Example: green */
  --accent-light: #6cd17a; /* Example: light green */
  --accent-dark: #1e7031; /* Example: dark green */

  /* Text Colors */
  --text-primary: var(--primary);
  --text-secondary: #697172; 
  --text-light: #071c31cc;
  --text-dark: #222;
  --text-muted: #888;
  --text-hover: var(--primary-hover);

  /* Background Colors */
  --bg-primary: #eaf1fb;
  --bg-gradient: linear-gradient(
    225deg,
    rgba(249, 240, 235, 0.8) 0%,
    rgba(219, 232, 250, 0.8) 71.83%,
    rgba(227, 237, 250, 0.8) 100%
  );
  --bg-accent: #e9ecef; /* Example: accent background */
  --bg-dark: #343a40; /* Example: dark background */

  /* Buttons Colors */
  --btn-primary: #335799;
  --btn-light: #8da2c8;
  --btn-mute: #ececec;

  /* Border Colors */
  --border: var(--btn-primary);
  --border-light: var(--btn-light);
  --border-mute: var(--btn-mute);
}
input:focus-visble {
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  font-weight: unset;
  word-spacing: unset;
  letter-spacing: unset;
  font-family: unset;
  resize: none;
  margin: 0;
}


html {
  line-height: normal;
  font-size: 16px;
  box-sizing: inherit;
  scroll-behavior: smooth;
  width: -webkit-fill-available;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}


.headerWrap {
  width: 100%;
  height: 65px;
  padding: 10px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background: rgba(246, 248, 251, 0.2);
}

.header {
  width: 100%;
  height: 85px;
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headLogo {
  width: 136px;
  height: 25px;
  fill: var(--primary);
}

.headLogo:hover {
  fill: var(--primary-hover);
}
.headNav ul {
  font-family: "Arimo", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.headNav li {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: var(--primary);
}

.headNav li a {
  color: var(--primary);
}

.headNav li a:hover{
  color: var(--primary-hover);
}

.headIcons {
  height: 24px;
  display: flex;
  column-gap: 20px;
}

.headSearch {
  display: none;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 14px;
  direction: rtl;
  padding-right: 30px;
  width: 0;
  max-width: 163px;
  height: 27px;
  margin-right: -46px;
  margin-top: -1px;
}

.headSearch.grow {
  display: block;
  opacity: 0;
  z-index: 0;
  animation: searchGrow 0.3s ease-in-out forwards;
}
.headSearch.shrink {
  animation: searchGrow 0.3s ease-in-out reverse;

}

@keyframes searchGrow {
  from {
    width: 0;
    opacity: 0;
  }
  to{
    width: 100%;
    opacity: 1;
  }
}

.headSearch:focus {
  border: 0.5px solid var(--border);
}

.search-svg {
  width: 25px;
  max-width: 23px;
  stroke: var(--primary);
  margin-bottom: 1px;
  transition: all 0.2s ease;
  z-index: 1;
}

.search-svg:hover {
  stroke: var(--primary-hover);
}

.search-svg.clicked .glass {
  animation-name: zoom-out;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

.search-svg.clicked .handle {
  animation-name: move-up;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

.search-svg.clicked .handle3 {
  animation-name: move-spin;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    stroke-width: 1.5px;
    transform: scale(1.125);
    stroke: var(--text-secondary);
  }
}

@keyframes move-up {
  0% {
    transform: translate(0, 0) rotate(0deg);
    stroke-width: 2.1px;
    transform: scale(1);
  }
  50% {
    transform: scale(1);
    stroke-width: 1.8px;
  }
  100% {
    transform-origin: 165% 165%;
    transform: translate(-37%, -37%);
    stroke-width: 1.1px;
    transform: scale(1.4);
    stroke: var(--text-secondary);
  }
}

@keyframes move-spin {
  0% {
    transform-origin: 100% 100%;
    transform: translate(-50%, 50%);
    stroke: var(--primary);
    opacity: 0;
  }

  80% {
    opacity: 0;
    transform: translate(-20%, 20%);
  }
  100% {
    stroke: var(--text-secondary);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.search-svg.disabled .glass {
  animation-name: zoom-out-rev;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.search-svg.disabled .handle {
  animation-name: move-up-rev;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.search-svg.disabled .handle3 {
  animation-name: move-spin-rev;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.search-svg:hover[class="disabled"] line.handle {
  stroke: blue !important;
}

.search-svg[class="disabled"] line.handle {
  stroke: blue !important;
}

@keyframes zoom-out-rev {
  0% {
    transform: scale(1.15);
    stroke-width: 1.4px;
    stroke: var(--text-secondary);
  }

  100% {
    stroke-width: 2.1px;
    transform: scale(1);
    stroke: var(--primary);
  }
}

@keyframes move-up-rev {
  0% {
    transform-origin: 192% 192%;
    transform: translate(-37%, -37%) rotate(0deg);
    stroke-width: 1.4px;
    transform: scale(1.3);
    stroke: var(--text-secondary);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    stroke-width: 2.1px;
    transform: scale(1);
    stroke: var(--primary);
  }
}

@keyframes move-spin-rev {
  0% {
    stroke: var(--text-secondary);
    transform: translate(0, 0);
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  100% {
    transform-origin: 130% 130%;
    transform: translate(100%, -100%);
    opacity: -3;
    stroke: var(--primary);

  }
}
/* ------ End of Search icon CSS ------ */
